



  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }



/* nav styles */ 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px, 160px;
}
.nav-btn{
    background-color: white;
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
    margin-right: 50px;
}
.nev-title{
    font-weight: bold;
    font-size: 32px;
    margin-left: 120px;
}
nav ul li {
    list-style: none;

}
nav ul{
    display: flex;
}
/*Banner style */
.banner{
    display: flex;
    width: 990px;
    height: 400px;
    margin-left: 100px;
    margin-right: 70px;
    background-color: #C6E4D6;
    padding: 100px;
    border-radius: 24px;


}

.banner-content{
    width: 622px;
    height: 346px;
    text-align: left;
    padding: 0%;
    text-wrap: balance;
    
}

.banner-h6{
    font-weight:500px;
    font-size: 24px;
    color: #0e0e0e7e;
    margin-bottom: 5px;
}
.banner-h1{
    font-weight: bold;
    font-size: 56;
    color: #0E0E0E;
    text-align: left;
}
.btn-explore{
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background-color: #006A50;
    font-weight: 600px;
    font-size: 18px;
    color: white;
    justify-content: center;
}
.banner-img{
    width: 474px;
    height: 400px;
}

/*vision*/
.vision{
    margin-left: 100px;
    display:inline-flex;
}
.img-vision{ 
    width: 64px;
    height: 64px;
  
}



.vision-future{
   font-size: 40px; 
   font-weight: bold;
   color: #0E0E0E;
   margin-left: 100px;
   margin-top: 50px;
   margin-bottom: 5px;
}
/*digital-transformation*/
.vision-d{
    font-weight: 400;
    font-size: 16;
    color: #0e0e0eab;
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 60px;

}
.d-h{ 
    font-size: 20;
    font-weight: bold;
    color:#0e0e0ed5;
    text-align: left;
}
.digital-transformation{
    width: 290px;
    height: 225px;
    background-color: #548ff54f;
    padding: 32px;
    border-radius: 12px;
    margin-right: 60px;
    margin-bottom: 20px;


}
.d-t1{
    width: 112px;
    height:41px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #5490F5;
    border-color: #5490F5;
}
/*Green-Energy*/

.Green-Energy{
    width: 290px;
    height: 225px;
    background-color: #c6e4d6bd;
    padding: 32px;
    border-radius: 12px;
    margin-right: 60px;
    margin-bottom: 20px;
}
.d-t2{
    width: 112px;
    height:41px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #09A15C;
    border-color: #09A15C;
}

.Modern-Infrastructure{
    width: 290px;
    height: 225px;
    background-color: #F7EBCF;
    padding: 32px;
    border-radius: 12px;
    margin-bottom: 20px;

}
.d-t3{
    width: 112px;
    height:41px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #FFC239;
    border-color: #FFC239;
}

/*frame-3*/
.rn{
   font-size: 40px; 
   font-weight: bold;
   color: #0E0E0E;
   margin-left: 100px;
   margin-top: 50px;
   margin-bottom: 5px;
}
.f-rn{
    display: flex;
    margin-left: 100px;
    width: 1140px ;
    height: 302px;
    background-color: rgba(245, 222, 179, 0.233);
    border-radius: 24px;
    padding: 48px 48px;
}
.satelite-img{
    width: 408px;
    height: 306px;
    border-radius: 20px;
}
.rn-1{
    width:710px;
    height: 180px;

}
.rn-h3{
    margin-left: 100px;
    font-size: 25px;
    font-weight: bold;
    color: #0E0E0E;

}
.aljazeera-img{
   width: 100px;
   height: 30px;
   margin-left: 100px;
   margin-bottom: 0%;

}
.time{
    margin-left: 100px;
    font-size: 10px;
    font-weight: 400;
}
.d-t22{
    width: 112px;
    height:41px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #09A15C;
    border-color: #09A15C;
    margin-left: 100px;
}
.f-rn2{
    display: flex;
    margin-left: 100px;
    width: 1170px ;
    height: 302px;
    background-color: rgba(245, 222, 179, 0.233);
    border-radius: 24px;
    padding: 35px 35px;
    margin-bottom: 10px;
}
.h3-donate{
    text-align:center;
    font-size:30px;
    font-weight: bold;
    margin-bottom: 0%;
    padding: 0%;px
}
.titlee{
    font-weight: bold;
    font-size: 32px;
    }
.imgg{
    
margin-left: 100px;
display: flex;
width: 50px;
height: 50px;
}